@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Source+Sans+Pro&display=swap');

* {
    margin: 0;
    padding: 0;
    /* box-sizing: border-box; */
}

body {
    font-family: 'Open Sans', sans-serif;
}

.container1 {
    display: flex;
    justify-content: center;
    margin: 10%;
}

.btn-group {
    width: 300px;
    background-color: aqua;
    border: 1px solid #377DFF;
    border-radius: 5px;
}

.btn-group button {
    width: 100px;
    background-color: #377DFF;
    border: none;
    color: white;
    padding: 15px 20px;
    cursor: pointer;
    float: left;
}

.btn-group button:hover {
    background-color: #2968df;
}

.btn-group .active {
    background-color: #3976e7
}

